# Data Science for Data Science

### Content

## Introduction

---

In recent years, we have seen an explosion in the amount of data being generated and collected. From social media activity to financial transactions, the amount of data being generated on a daily basis is staggering. With this influx of data comes an urgent need for professionals who can extract insights and knowledge from it.

Data Science, a rapidly growing field that combines statistical and computational techniques to transform data into actionable information. It brings together multiple disciplines such as mathematics, statistics, computer science and domain-specific knowledge to create a multi-faceted approach to understanding complex data patterns. The goal of Data Science is to provide a complete picture of data and transform it into actionable information that can inform business decisions, scientific breakthroughs and even public policy. It has become an increasingly vital part of our data-driven world.

When it comes to financial markets, the need for accurate and timely data analysis has never been more critical. Financial institutions need to make decisions based on a variety of factors including market trends, customer behavior and risk management. Data Science can help financial institutions analyze and make sense of this data providing insights that can help them stay ahead of the competition.

#### Application of Data Science for Financial Markets

- **1. Predictive Modeling :** One of the primary applications of Data Science in finance is predictive modeling. Data Science professionals can use historical data to create models that can identify trends and make predictions about future market conditions. These models can be used to inform investment decisions, identify potential risks and even create new financial products.

- **2. Algorithmic Trading :** Another application of Data Science in finance is algorithmic trading. This involves using algorithms that execute buy and sell orders autonomously based on mathematical models through the analysis of price, volume and volatility among many others. Algorithmic trading has become increasingly popular in recent years as it allows financial institutions to make trades quickly and efficiently without human intervention.

- **3. Portfolio Optimization :** Data Science can also be used to optimize portfolios aiming for maximization of returns and risk minimization. Algorithms and other mathematical models can be used to create optimized portfolios that take into account a variety of factors including risk tolerance, diversification and investment goals.

- **4. Fraud Detection :** Fraud detection is another important application of Data Science in finance. Financial institutions are constantly at risk of fraudulent activities and Data Science can be used to identify and prevent these activities. Machine learning algorithms can be used to analyze financial transactions, identifying patterns and anomalies that may indicate fraudulent activity.

- **5. Risk Management :** Risk management is also a critical application of Data Science in finance. Data science can be used to quantify and manage various types of financial risks including market risk, credit risk and operational risk. By analyzing historical data and identifying potential risks, financial institutions can make informed decisions that mitigate these risks and protect their investments.

- **6. Customer Analysis :** Data Science can also be used to analyze customer data and gain insights into customer behavior and preferences. Financial institutions can use this data to improve customer engagement and retention creating targeted marketing campaigns and personalized investment strategies.


By leveraging Data Science and Python, we can develop more effective investment strategies and make informed decisions that can help us achieve our financial goals. In this notebook, we will explore how Data Science and Python can be utilized to extract crucial insights from financial markets. We will dive into the applications of these tools such as building and optimizing portfolios, developing effective trading strategies and performing detailed stock analysis. By showcasing the versatility and usefulness of these techniques, we aim to provide a valuable resource for those interested in making informed investment decisions. With Data Science and Python at our disposal, we have the ability to unlock a wealth of knowledge and transform the way we approach financial markets.

## Essential Libraries

---

### 1. `nsepy`

If you are looking to obtain historical market data for Indian stocks, `nsepy` is a reliable and efficient Python library to consider. `nsepy` provides easy access to historical stock price data from the National Stock Exchange of India (NSE) through a simple and user-friendly API. You can easily obtain data for any publicly traded company listed on the NSE including stocks, indices and futures.

This is how you can install `nsepy` in your Python environment:

In [2]:
pip install nsepy

Requirement already satisfied: nsepy in c:\users\manis\anaconda3\lib\site-packages (0.8)
Requirement already satisfied: beautifulsoup4 in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (4.11.1)
Requirement already satisfied: lxml in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (4.9.1)
Requirement already satisfied: click in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (8.0.4)
Requirement already satisfied: pandas in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (1.4.4)
Requirement already satisfied: numpy in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (1.21.5)
Requirement already satisfied: six in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (1.16.0)
Requirement already satisfied: requests in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (2.28.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\manis\anaconda3\lib\site-packages (from beautifulsoup4->nsepy) (2.3.1)
Requirement already satisfied: colorama in c:\users\manis\anaconda3\lib\site-packages (from click->nsepy) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas->nsepy) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\manis\anaconda3\lib\site-packages (from requests->nsepy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\manis\anaconda3\lib\site-packages (from requests->nsepy) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\manis\anaconda3\lib\site-packages (from requests->nsepy) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\manis\anaconda3\lib\site-packages (from requests->nsepy) (3.3)
Note: you may need to restart the kernel to use updated packages.

### 2. `quantstats`

Quantstats is a game-changing Python library that is transforming the way traders and investors analyze financial data. With its wide range of tools for quantitative financial analysis including technical and fundamental analysis, portfolio optimization and backtesting of investment strategies, Quantstats has quickly become one of the most popular libraries in the financial industry. Its simple and easy-to-use interface makes it accessible to both seasoned traders and newcomers to quantitative finance. By providing a comprehensive suite of tools for analyzing financial data, Quantstats empowers traders and investors to make more informed decisions, optimize their portfolios and gain an edge in the market. Whether you are a professional trader or just starting out in the world of finance, Quantstats is an essential tool for anyone looking to succeed in the complex and ever-changing world of financial markets.

This is how you can install `quantstats` in your Python environment:

In [3]:
pip install quantstats

Collecting quantstats
  Downloading QuantStats-0.0.59-py2.py3-none-any.whl (41 kB)
     -------------------------------------- 41.3/41.3 kB 153.2 kB/s eta 0:00:00
Requirement already satisfied: seaborn>=0.9.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (0.11.2)
Requirement already satisfied: python-dateutil>=2.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (2.8.2)
Requirement already satisfied: scipy>=1.2.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (1.9.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (3.5.2)
Collecting yfinance>=0.1.70
  Downloading yfinance-0.2.14-py2.py3-none-any.whl (59 kB)
     -------------------------------------- 59.7/59.7 kB 353.3 kB/s eta 0:00:00
Requirement already satisfied: pandas>=0.24.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (1.4.4)
Requirement already satisfied: tabulate>=0.8.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (0.8.10)
Requirement already satisfied: numpy>=1.16.5 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (1.4.2)
Requirement already satisfied: packaging>=20.0 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (21.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas>=0.24.0->quantstats) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\manis\anaconda3\lib\site-packages (from python-dateutil>=2.0->quantstats) (1.16.0)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ------------------------------------ 502.3/502.3 kB 384.2 kB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.6-cp39-cp39-win_amd64.whl (35 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (1.4.4)
Requirement already satisfied: requests>=2.26 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (2.28.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (4.11.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (37.0.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ------------------------------------ 112.2/112.2 kB 935.2 kB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in c:\users\manis\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance>=0.1.70->quantstats) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\manis\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance>=0.1.70->quantstats) (1.15.1)
Requirement already satisfied: webencodings in c:\users\manis\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance>=0.1.70->quantstats) (0.5.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\manis\anaconda3\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\manis\anaconda3\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\manis\anaconda3\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\manis\anaconda3\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (1.26.11)
Requirement already satisfied: pycparser in c:\users\manis\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance>=0.1.70->quantstats) (2.21)
Installing collected packages: pytz, multitasking, html5lib, frozendict, yfinance, quantstats
  Attempting uninstall: pytz
    Found existing installation: pytz 2022.1
    Uninstalling pytz-2022.1:
      Successfully uninstalled pytz-2022.1
Successfully installed frozendict-2.3.6 html5lib-1.1 multitasking-0.0.11 pytz-2023.3 quantstats-0.0.59 yfinance-0.2.14
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.20 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.20 requires nbformat==5.4.0, but you have nbformat 5.5.0 which is incompatible.

### 3. `pyportfolioopt`

If you are looking to create an optimized investment portfolio that aligns with your specific objectives, constraints and risk preferences, `pyportfolioopt` is an exceptional Python library to consider. With its diverse range of optimization algorithms including the Black-Litterman allocation model and mean-variance optimization model, `pyportfolioopt` empowers investors to construct and optimize portfolios that maximize their returns while minimizing risk. Its user-friendly interface and flexible optimization capabilities make it an incredibly useful tool for both novice and experienced investors alike. Whether you are looking to build a balanced investment portfolio or construct a custom portfolio with specific risk and return objectives, `pyportfolioopt` can help you achieve your goals with ease.

This is how you can install `pyportfolioopt` in your Python environment:

In [8]:
pip install pyportfolioopt

Collecting pyportfolioopt
  Using cached pyportfolioopt-1.5.4-py3-none-any.whl (61 kB)
Collecting cvxpy<2.0.0,>=1.1.10
  Using cached cvxpy-1.3.1-cp39-cp39-win_amd64.whl (889 kB)
Requirement already satisfied: numpy<2.0.0,>=1.22.4 in c:\users\manis\anaconda3\lib\site-packages (from pyportfolioopt) (1.24.2)
Requirement already satisfied: pandas>=0.19 in c:\users\manis\anaconda3\lib\site-packages (from pyportfolioopt) (1.4.4)
Requirement already satisfied: scipy<2.0,>=1.3 in c:\users\manis\anaconda3\lib\site-packages (from pyportfolioopt) (1.9.1)
Collecting scs>=1.1.6
  Using cached scs-3.2.2-cp39-cp39-win_amd64.whl (8.2 MB)
Collecting osqp>=0.4.1
  Using cached osqp-0.6.2.post8-cp39-cp39-win_amd64.whl (292 kB)
Collecting ecos>=2
  Using cached ecos-2.0.12-cp39-cp39-win_amd64.whl (72 kB)
Requirement already satisfied: setuptools>65.5.1 in c:\users\manis\anaconda3\lib\site-packages (from cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (67.6.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas>=0.19->pyportfolioopt) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas>=0.19->pyportfolioopt) (2.8.2)
Collecting qdldl
  Using cached qdldl-0.1.5.post3-cp39-cp39-win_amd64.whl (83 kB)
Requirement already satisfied: six>=1.5 in c:\users\manis\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.19->pyportfolioopt) (1.16.0)
Installing collected packages: scs, qdldl, ecos, osqp, cvxpy, pyportfolioopt
Successfully installed cvxpy-1.3.1 ecos-2.0.12 osqp-0.6.2.post8 pyportfolioopt-1.5.4 qdldl-0.1.5.post3 scs-3.2.2
Note: you may need to restart the kernel to use updated packages.

### 4. `ta`

If you are looking to conduct technical analysis using Python, the `ta` (Technical Analysis) library is an invaluable resource. It offers a comprehensive range of technical indicators such as moving averages, Bollinger bands, MACD and the Relative Strength Index that can be used to analyze market trends and make informed trading decisions. Whether you are a seasoned trader or a novice, the `ta` library is easy to use and customize, allowing you to tailor your analysis to your specific needs. By providing insights into market momentum, volatility and trends, this library can help you gain a deeper understanding of market behavior and make better-informed investment decisions. Whether you are looking to trade in stocks, cryptocurrencies or other financial instruments, the `ta` library is a must-have tool for any technical analyst.

This is how you can install `ta` in your Python environment:

In [11]:
pip install ta

Collecting taNote: you may need to restart the kernel to use updated packages.

  Downloading ta-0.10.2.tar.gz (25 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\manis\anaconda3\lib\site-packages (from ta) (1.24.2)
Requirement already satisfied: pandas in c:\users\manis\anaconda3\lib\site-packages (from ta) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas->ta) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\manis\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->ta) (1.16.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py): started
  Building wheel for ta (setup.py): finished with status 'done'
  Created wheel for ta: filename=ta-0.10.2-py3-none-any.whl size=29088 sha256=ecc6457bf333c9c83dd35a3f52ee9d565d4d85f4a2da80aa61ce708f0a55abb1
  Stored in directory: c:\users\manis\appdata\local\pip\cache\wheels\6a\76\03\7f785aaa50b9c6ec7e3fd105a62c1b2c45a034512d51e024a9
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.10.2

Now get ready to deep dive into the world of finance with essential libraries ! With this knowledge, we can move on to importing all specific libraries needed to make meaningful analyses and gain valuable insights into financial markets. The right tools can make all the difference when it comes to making informed investment decisions, so let's get started on this exciting journey.

In [1]:
# Importing Libraries

# Data handling and statistical analysis 
import pandas as pd
from pandas_datareader import data
import numpy as np
from scipy import stats

# Data visualization 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Optimization and allocation
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns
from pypfopt import black_litterman, BlackLittermanModel

# Financial data 
import quantstats as qs
import ta
import nsepy as nsepy

# Linear Regression Model
from sklearn.linear_model import LinearRegression

# Enabling Plotly offline
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

# Datetime and hiding warnings 
import datetime as dt
from datetime import date
import warnings
warnings.filterwarnings("ignore")

## Statistical Measures and Analysis Techniques

---

### 1. Daily Returns

Our initial focus will be on analyzing the daily returns of a stock. The daily return is the percentage change in the price of a stock over a single day. The calculation involves subtracting the closing price of a stock on a particular day from its closing price on the previous day, dividing the result by the closing price on the previous day and then multiplying by 100. This calculation helps us understand how a stock's value changes on a day-to-day basis.

Let's say a stock closes at Rs. 100 on Monday and on Tuesday it closes at Rs. 102, its daily return can be calculated as:

`((102-100)÷100)×100 = 2%`

This means that the stock's value has **`increased by 2%`** in just one day. On the other hand, if the stock had closed at Rs. 98 on Tuesday, the daily return would be calculated as:

`((98-100)÷100)×100= -2%`

This indicates that the stock's value has **`decreased by 2%`** over the course of one day.

Daily returns play a crucial role for investors as they offer a convenient means to evaluate a stock's performance over a brief period. And Quantstats facilitates the generation of daily returns charts which depict the daily percentage shifts in stocks in a graphical format enabling investors to observe the stock's daily performance highs and lows over time. These charts aid in the interpretation of the stock's return volatility and consistency providing investors with valuable insights into its behaviour.

In [2]:
# Defining time range for analysis

end_date = date.today()
start_date = date(2008,1,1)
print(f"Time range for Analysis : {start_date} to {end_date}")

Time range for Analysis : 2008-01-01 to 2023-04-01

In [3]:
# Downloading daily data for NIFTY50 and four different stocks

nifty50 = nsepy.get_history('NIFTY 50', start=start_date, end=end_date, index=True)

In [4]:
nifty50

                Open      High       Low     Close     Volume      Turnover
Date
2008-01-01   6136.75   6165.35   6109.85   6144.35   81305366  4.410970e+10
2008-01-02   6144.70   6197.00   6060.85   6179.40  110353305  7.184350e+10
2008-01-03   6184.25   6230.15   6126.40   6178.55  156427760  9.475370e+10
2008-01-04   6179.10   6300.05   6179.10   6274.30  147642063  8.779230e+10
2008-01-07   6271.00   6289.80   6193.35   6279.10  139778977  8.873370e+10
...              ...       ...       ...       ...        ...           ...
2023-03-24  17076.20  17109.45  16917.35  16945.05  228038299  1.901988e+11
2023-03-27  16984.30  17091.00  16918.55  16985.70  218418670  1.846656e+11
2023-03-28  17031.75  17061.75  16913.75  16951.70  238840919  2.094250e+11
2023-03-29  16977.30  17126.15  16940.60  17080.70  345911087  2.726174e+11
2023-03-31  17210.35  17381.60  17204.65  17359.75  263889033  2.497098e+11

[3777 rows x 6 columns]

In [7]:
tata_motors = nsepy.get_history(symbol='TATAMOTORS', start=start_date, end=end_date)

In [8]:
tata_motors

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2008-01-01,TATAMOTORS,EQ,741.90,742.00,766.50,737.00,763.00,762.35,755.29,1325083,1.000828e+14,NaN,880563.0,0.6645
2008-01-02,TATAMOTORS,EQ,762.35,766.85,797.00,753.00,793.50,793.55,777.17,2033504,1.580372e+14,NaN,1228029.0,0.6039
2008-01-03,TATAMOTORS,EQ,793.55,800.00,816.00,780.05,793.00,791.60,797.06,2027738,1.616234e+14,NaN,927963.0,0.4576
2008-01-04,TATAMOTORS,EQ,791.60,800.00,824.10,771.15,784.25,781.65,796.73,1776745,1.415587e+14,NaN,904759.0,0.5092
2008-01-07,TATAMOTORS,EQ,781.65,783.00,807.80,763.00,785.90,785.40,790.25,1457640,1.151900e+14,NaN,728767.0,0.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-24,TATAMOTORS,EQ,419.15,419.00,420.55,414.80,416.50,416.50,417.52,6877960,2.871699e+14,97104.0,2955611.0,0.4297
2023-03-27,TATAMOTORS,EQ,416.50,416.00,418.50,410.25,412.50,412.05,413.40,7433933,3.073212e+14,152524.0,3303791.0,0.4444
2023-03-28,TATAMOTORS,EQ,412.05,414.15,414.50,400.45,402.45,401.60,405.25,9553659,3.871607e+14,157234.0,4178207.0,0.4373
2023-03-29,TATAMOTORS,EQ,401.60,401.60,410.60,401.60,409.95,409.20,406.81,10478506,4.262802e+14,115284.0,5126597.0,0.4892
2023-03-31,TATAMOTORS,EQ,409.20,411.35,421.75,411.00,421.00,420.80,417.42,11037881,4.607468e+14,141513.0,4640874.0,0.4204

In [9]:
havells = nsepy.get_history(symbol='HAVELLS', start=start_date, end=end_date)

In [10]:
havells

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2008-01-01,HAVELLS,EQ,698.10,704.90,712.70,693.65,695.00,698.00,702.08,117745,8.266672e+12,NaN,50262,0.4269
2008-01-02,HAVELLS,EQ,698.00,699.90,706.00,685.05,699.00,696.50,697.43,145413,1.014157e+13,NaN,90306,0.6210
2008-01-03,HAVELLS,EQ,696.50,690.00,710.50,688.05,700.55,701.90,702.84,147760,1.038510e+13,NaN,82726,0.5599
2008-01-04,HAVELLS,EQ,701.90,714.50,719.00,688.00,700.00,696.45,708.89,132074,9.362618e+12,NaN,47014,0.3560
2008-01-07,HAVELLS,EQ,696.45,696.00,711.00,685.00,695.10,695.95,701.56,77818,5.459369e+12,NaN,33500,0.4305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-24,HAVELLS,EQ,1190.90,1191.40,1197.65,1174.00,1176.00,1181.45,1187.21,253493,3.009483e+13,17490.0,132920,0.5244
2023-03-27,HAVELLS,EQ,1181.45,1181.05,1189.35,1162.30,1165.00,1167.90,1176.58,269418,3.169929e+13,13682.0,114503,0.4250
2023-03-28,HAVELLS,EQ,1167.90,1170.00,1172.45,1131.80,1144.40,1144.00,1147.83,943699,1.083207e+14,51887.0,349272,0.3701
2023-03-29,HAVELLS,EQ,1144.00,1138.00,1183.55,1136.05,1182.05,1179.60,1170.43,607826,7.114184e+13,32077.0,191082,0.3144
2023-03-31,HAVELLS,EQ,1179.60,1185.60,1194.40,1177.80,1190.80,1188.50,1187.57,492712,5.851276e+13,28112.0,214851,0.4361

In [11]:
itc = nsepy.get_history(symbol='ITC', start=start_date, end=end_date)

In [12]:
itc

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2008-01-01,ITC,EQ,209.45,212.00,220.85,210.10,218.20,217.60,217.90,11524699,2.511231e+14,NaN,5924407,0.5141
2008-01-02,ITC,EQ,217.60,219.90,227.40,214.30,221.50,221.10,220.16,18150486,3.996071e+14,NaN,8866174,0.4885
2008-01-03,ITC,EQ,221.10,220.00,221.00,212.05,214.55,214.45,216.34,14458813,3.128074e+14,NaN,8735806,0.6042
2008-01-04,ITC,EQ,214.45,215.00,220.20,213.15,219.45,219.35,217.21,11891464,2.582999e+14,NaN,8256616,0.6943
2008-01-07,ITC,EQ,219.35,211.70,235.00,211.70,231.25,231.30,227.18,16797298,3.816009e+14,NaN,8522285,0.5074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-24,ITC,EQ,380.65,381.50,383.00,378.00,378.90,378.70,381.12,9934501,3.786219e+14,81630.0,6876733,0.6922
2023-03-27,ITC,EQ,378.70,377.95,384.40,376.35,380.00,380.20,381.06,10816352,4.121729e+14,103476.0,6564514,0.6069
2023-03-28,ITC,EQ,380.20,380.20,382.35,378.15,379.75,379.75,379.78,9170535,3.482750e+14,115524.0,5528670,0.6029
2023-03-29,ITC,EQ,379.75,380.20,384.00,377.15,383.05,382.75,381.12,10160322,3.872301e+14,120617.0,6231122,0.6133
2023-03-31,ITC,EQ,382.75,382.00,384.50,380.00,383.20,383.50,382.81,9511189,3.640947e+14,167654.0,6309361,0.6634

In [13]:
infosys = nsepy.get_history(symbol='INFY', start=start_date, end=end_date)

In [14]:
infosys

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2008-01-01,INFOSYSTCH,EQ,1769.90,1766.60,1778.60,1742.25,1746.00,1746.85,1758.19,250203,4.399049e+13,NaN,122849,0.4910
2008-01-02,INFOSYSTCH,EQ,1746.85,1750.00,1759.35,1712.40,1755.00,1748.30,1731.50,769382,1.332185e+14,NaN,462777,0.6015
2008-01-03,INFOSYSTCH,EQ,1748.30,1797.00,1797.00,1690.00,1718.00,1709.05,1716.65,1553245,2.666382e+14,NaN,1068196,0.6877
2008-01-04,INFOSYSTCH,EQ,1709.05,1747.40,1747.40,1680.00,1695.00,1694.90,1696.44,770790,1.307598e+14,NaN,449885,0.5837
2008-01-07,INFOSYSTCH,EQ,1694.90,1670.00,1690.00,1623.00,1640.35,1636.85,1639.62,1656775,2.716479e+14,NaN,1160357,0.7004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-24,INFY,EQ,1374.55,1388.00,1398.95,1377.50,1378.95,1380.65,1388.97,7559127,1.049940e+15,204870.0,4757124,0.6293
2023-03-27,INFY,EQ,1380.65,1386.25,1395.75,1374.10,1388.20,1388.95,1388.84,4170193,5.791748e+14,214904.0,2594183,0.6221
2023-03-28,INFY,EQ,1388.95,1392.10,1398.00,1375.85,1378.60,1377.60,1382.99,6633366,9.173851e+14,154855.0,4843490,0.7302
2023-03-29,INFY,EQ,1377.60,1379.00,1389.90,1364.55,1388.60,1383.55,1377.31,8813966,1.213957e+15,235693.0,6348499,0.7203
2023-03-31,INFY,EQ,1383.55,1404.00,1429.95,1393.90,1425.70,1427.95,1416.85,8711975,1.234356e+15,228023.0,6312000,0.7245

In [ ]:
# exporting data to.csv

In [16]:
nifty50.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/nifty50.csv')
tata_motors.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/tata_motors.csv')
havells.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/havells.csv')
itc.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/itc.csv')
infosys.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/infosys.csv')

In [ ]:
# Data Eyeballing

In [ ]:
nifty

In [ ]:
nifty50 = pd.read_csv('nifty50.csv')
print(nifty50.columns)

In [ ]:
from datetime import datetime, timedelta
from nsepy import get_history

# Set start and end dates
start_date = datetime.now() - timedelta(days=365)
end_date = datetime.now()

# Download daily data for TATA, Havells, ITC, and Infosys
tata_data = get_history(symbol='TATAMOTORS', start=start_date, end=end_date)
havells_data = get_history(symbol='HAVELLS', start=start_date, end=end_date)
itc_data = get_history(symbol='ITC', start=start_date, end=end_date)
infosys_data = get_history(symbol='INFY', start=start_date, end=end_date)

# Calculate daily returns
tata_returns = tata_data['Close'].pct_change()
havells_returns = havells_data['Close'].pct_change()
itc_returns = itc_data['Close'].pct_change()
infosys_returns = infosys_data['Close'].pct_change()

In [ ]:
# Download the data
nifty50_data = nsepy.get_history('NIFTY 50', start=start_date, end=end_date, index=True)

# Sleep for 1 min
time.sleep(60)

# Print the data
print(nifty50_data)

In [14]:
 = nsepy.get_history(symbol='NIFTY 50', start='2010-01-01', end='2022-03-30', index=True)