# Data Science for Data Science

### Content

## Introduction

---

In recent years, we have seen an explosion in the amount of data being generated and collected. From social media activity to financial transactions, the amount of data being generated on a daily basis is staggering. With this influx of data comes an urgent need for professionals who can extract insights and knowledge from it.

Data Science, a rapidly growing field that combines statistical and computational techniques to transform data into actionable information. It brings together multiple disciplines such as mathematics, statistics, computer science and domain-specific knowledge to create a multi-faceted approach to understanding complex data patterns. The goal of Data Science is to provide a complete picture of data and transform it into actionable information that can inform business decisions, scientific breakthroughs and even public policy. It has become an increasingly vital part of our data-driven world.

When it comes to financial markets, the need for accurate and timely data analysis has never been more critical. Financial institutions need to make decisions based on a variety of factors including market trends, customer behavior and risk management. Data Science can help financial institutions analyze and make sense of this data providing insights that can help them stay ahead of the competition.

#### Application of Data Science for Financial Markets

- **1. Predictive Modeling :** One of the primary applications of Data Science in finance is predictive modeling. Data Science professionals can use historical data to create models that can identify trends and make predictions about future market conditions. These models can be used to inform investment decisions, identify potential risks and even create new financial products.

- **2. Algorithmic Trading :** Another application of Data Science in finance is algorithmic trading. This involves using algorithms that execute buy and sell orders autonomously based on mathematical models through the analysis of price, volume and volatility among many others. Algorithmic trading has become increasingly popular in recent years as it allows financial institutions to make trades quickly and efficiently without human intervention.

- **3. Portfolio Optimization :** Data Science can also be used to optimize portfolios aiming for maximization of returns and risk minimization. Algorithms and other mathematical models can be used to create optimized portfolios that take into account a variety of factors including risk tolerance, diversification and investment goals.

- **4. Fraud Detection :** Fraud detection is another important application of Data Science in finance. Financial institutions are constantly at risk of fraudulent activities and Data Science can be used to identify and prevent these activities. Machine learning algorithms can be used to analyze financial transactions, identifying patterns and anomalies that may indicate fraudulent activity.

- **5. Risk Management :** Risk management is also a critical application of Data Science in finance. Data science can be used to quantify and manage various types of financial risks including market risk, credit risk and operational risk. By analyzing historical data and identifying potential risks, financial institutions can make informed decisions that mitigate these risks and protect their investments.

- **6. Customer Analysis :** Data Science can also be used to analyze customer data and gain insights into customer behavior and preferences. Financial institutions can use this data to improve customer engagement and retention creating targeted marketing campaigns and personalized investment strategies.


By leveraging Data Science and Python, we can develop more effective investment strategies and make informed decisions that can help us achieve our financial goals. In this notebook, we will explore how Data Science and Python can be utilized to extract crucial insights from financial markets. We will dive into the applications of these tools such as building and optimizing portfolios, developing effective trading strategies and performing detailed stock analysis. By showcasing the versatility and usefulness of these techniques, we aim to provide a valuable resource for those interested in making informed investment decisions. With Data Science and Python at our disposal, we have the ability to unlock a wealth of knowledge and transform the way we approach financial markets.

## Essential Libraries

---

### 1. `nsepy`

If you are looking to obtain historical market data for Indian stocks, `nsepy` is a reliable and efficient Python library to consider. `nsepy` provides easy access to historical stock price data from the National Stock Exchange of India (NSE) through a simple and user-friendly API. You can easily obtain data for any publicly traded company listed on the NSE including stocks, indices and futures.

This is how you can install `nsepy` in your Python environment:

In [2]:
pip install nsepy

Requirement already satisfied: nsepy in c:\users\manis\anaconda3\lib\site-packages (0.8)
Requirement already satisfied: beautifulsoup4 in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (4.11.1)
Requirement already satisfied: lxml in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (4.9.1)
Requirement already satisfied: click in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (8.0.4)
Requirement already satisfied: pandas in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (1.4.4)
Requirement already satisfied: numpy in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (1.21.5)
Requirement already satisfied: six in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (1.16.0)
Requirement already satisfied: requests in c:\users\manis\anaconda3\lib\site-packages (from nsepy) (2.28.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\manis\anaconda3\lib\site-packages (from beautifulsoup4->nsepy) (2.3.1)
Requirement already satisfied: colorama in c:\users\manis\anaconda3\lib\site-packages (from click->nsepy) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas->nsepy) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\manis\anaconda3\lib\site-packages (from requests->nsepy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\manis\anaconda3\lib\site-packages (from requests->nsepy) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\manis\anaconda3\lib\site-packages (from requests->nsepy) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\manis\anaconda3\lib\site-packages (from requests->nsepy) (3.3)
Note: you may need to restart the kernel to use updated packages.

### 2. `quantstats`

Quantstats is a game-changing Python library that is transforming the way traders and investors analyze financial data. With its wide range of tools for quantitative financial analysis including technical and fundamental analysis, portfolio optimization and backtesting of investment strategies, Quantstats has quickly become one of the most popular libraries in the financial industry. Its simple and easy-to-use interface makes it accessible to both seasoned traders and newcomers to quantitative finance. By providing a comprehensive suite of tools for analyzing financial data, Quantstats empowers traders and investors to make more informed decisions, optimize their portfolios and gain an edge in the market. Whether you are a professional trader or just starting out in the world of finance, Quantstats is an essential tool for anyone looking to succeed in the complex and ever-changing world of financial markets.

This is how you can install `quantstats` in your Python environment:

In [3]:
pip install quantstats

Collecting quantstats
  Downloading QuantStats-0.0.59-py2.py3-none-any.whl (41 kB)
     -------------------------------------- 41.3/41.3 kB 153.2 kB/s eta 0:00:00
Requirement already satisfied: seaborn>=0.9.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (0.11.2)
Requirement already satisfied: python-dateutil>=2.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (2.8.2)
Requirement already satisfied: scipy>=1.2.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (1.9.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (3.5.2)
Collecting yfinance>=0.1.70
  Downloading yfinance-0.2.14-py2.py3-none-any.whl (59 kB)
     -------------------------------------- 59.7/59.7 kB 353.3 kB/s eta 0:00:00
Requirement already satisfied: pandas>=0.24.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (1.4.4)
Requirement already satisfied: tabulate>=0.8.0 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (0.8.10)
Requirement already satisfied: numpy>=1.16.5 in c:\users\manis\anaconda3\lib\site-packages (from quantstats) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (1.4.2)
Requirement already satisfied: packaging>=20.0 in c:\users\manis\anaconda3\lib\site-packages (from matplotlib>=3.0.0->quantstats) (21.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas>=0.24.0->quantstats) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\manis\anaconda3\lib\site-packages (from python-dateutil>=2.0->quantstats) (1.16.0)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ------------------------------------ 502.3/502.3 kB 384.2 kB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.6-cp39-cp39-win_amd64.whl (35 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (1.4.4)
Requirement already satisfied: requests>=2.26 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (2.28.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (4.11.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\manis\anaconda3\lib\site-packages (from yfinance>=0.1.70->quantstats) (37.0.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ------------------------------------ 112.2/112.2 kB 935.2 kB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in c:\users\manis\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance>=0.1.70->quantstats) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\manis\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance>=0.1.70->quantstats) (1.15.1)
Requirement already satisfied: webencodings in c:\users\manis\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance>=0.1.70->quantstats) (0.5.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\manis\anaconda3\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\manis\anaconda3\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\manis\anaconda3\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\manis\anaconda3\lib\site-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (1.26.11)
Requirement already satisfied: pycparser in c:\users\manis\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance>=0.1.70->quantstats) (2.21)
Installing collected packages: pytz, multitasking, html5lib, frozendict, yfinance, quantstats
  Attempting uninstall: pytz
    Found existing installation: pytz 2022.1
    Uninstalling pytz-2022.1:
      Successfully uninstalled pytz-2022.1
Successfully installed frozendict-2.3.6 html5lib-1.1 multitasking-0.0.11 pytz-2023.3 quantstats-0.0.59 yfinance-0.2.14
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.20 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.20 requires nbformat==5.4.0, but you have nbformat 5.5.0 which is incompatible.

### 3. `pyportfolioopt`

If you are looking to create an optimized investment portfolio that aligns with your specific objectives, constraints and risk preferences, `pyportfolioopt` is an exceptional Python library to consider. With its diverse range of optimization algorithms including the Black-Litterman allocation model and mean-variance optimization model, `pyportfolioopt` empowers investors to construct and optimize portfolios that maximize their returns while minimizing risk. Its user-friendly interface and flexible optimization capabilities make it an incredibly useful tool for both novice and experienced investors alike. Whether you are looking to build a balanced investment portfolio or construct a custom portfolio with specific risk and return objectives, `pyportfolioopt` can help you achieve your goals with ease.

This is how you can install `pyportfolioopt` in your Python environment:

In [8]:
pip install pyportfolioopt

Collecting pyportfolioopt
  Using cached pyportfolioopt-1.5.4-py3-none-any.whl (61 kB)
Collecting cvxpy<2.0.0,>=1.1.10
  Using cached cvxpy-1.3.1-cp39-cp39-win_amd64.whl (889 kB)
Requirement already satisfied: numpy<2.0.0,>=1.22.4 in c:\users\manis\anaconda3\lib\site-packages (from pyportfolioopt) (1.24.2)
Requirement already satisfied: pandas>=0.19 in c:\users\manis\anaconda3\lib\site-packages (from pyportfolioopt) (1.4.4)
Requirement already satisfied: scipy<2.0,>=1.3 in c:\users\manis\anaconda3\lib\site-packages (from pyportfolioopt) (1.9.1)
Collecting scs>=1.1.6
  Using cached scs-3.2.2-cp39-cp39-win_amd64.whl (8.2 MB)
Collecting osqp>=0.4.1
  Using cached osqp-0.6.2.post8-cp39-cp39-win_amd64.whl (292 kB)
Collecting ecos>=2
  Using cached ecos-2.0.12-cp39-cp39-win_amd64.whl (72 kB)
Requirement already satisfied: setuptools>65.5.1 in c:\users\manis\anaconda3\lib\site-packages (from cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (67.6.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas>=0.19->pyportfolioopt) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas>=0.19->pyportfolioopt) (2.8.2)
Collecting qdldl
  Using cached qdldl-0.1.5.post3-cp39-cp39-win_amd64.whl (83 kB)
Requirement already satisfied: six>=1.5 in c:\users\manis\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.19->pyportfolioopt) (1.16.0)
Installing collected packages: scs, qdldl, ecos, osqp, cvxpy, pyportfolioopt
Successfully installed cvxpy-1.3.1 ecos-2.0.12 osqp-0.6.2.post8 pyportfolioopt-1.5.4 qdldl-0.1.5.post3 scs-3.2.2
Note: you may need to restart the kernel to use updated packages.

### 4. `ta`

If you are looking to conduct technical analysis using Python, the `ta` (Technical Analysis) library is an invaluable resource. It offers a comprehensive range of technical indicators such as moving averages, Bollinger bands, MACD and the Relative Strength Index that can be used to analyze market trends and make informed trading decisions. Whether you are a seasoned trader or a novice, the `ta` library is easy to use and customize, allowing you to tailor your analysis to your specific needs. By providing insights into market momentum, volatility and trends, this library can help you gain a deeper understanding of market behavior and make better-informed investment decisions. Whether you are looking to trade in stocks, cryptocurrencies or other financial instruments, the `ta` library is a must-have tool for any technical analyst.

This is how you can install `ta` in your Python environment:

In [11]:
pip install ta

Collecting taNote: you may need to restart the kernel to use updated packages.

  Downloading ta-0.10.2.tar.gz (25 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\manis\anaconda3\lib\site-packages (from ta) (1.24.2)
Requirement already satisfied: pandas in c:\users\manis\anaconda3\lib\site-packages (from ta) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas->ta) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\manis\anaconda3\lib\site-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\manis\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->ta) (1.16.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py): started
  Building wheel for ta (setup.py): finished with status 'done'
  Created wheel for ta: filename=ta-0.10.2-py3-none-any.whl size=29088 sha256=ecc6457bf333c9c83dd35a3f52ee9d565d4d85f4a2da80aa61ce708f0a55abb1
  Stored in directory: c:\users\manis\appdata\local\pip\cache\wheels\6a\76\03\7f785aaa50b9c6ec7e3fd105a62c1b2c45a034512d51e024a9
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.10.2

Now get ready to deep dive into the world of finance with essential libraries ! With this knowledge, we can move on to importing all specific libraries needed to make meaningful analyses and gain valuable insights into financial markets. The right tools can make all the difference when it comes to making informed investment decisions, so let's get started on this exciting journey.

In [1]:
# Importing Libraries

# Data handling and statistical analysis 
import pandas as pd
from pandas_datareader import data
import numpy as np
from scipy import stats

# Data visualization 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Optimization and allocation
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns
from pypfopt import black_litterman, BlackLittermanModel

# Financial data 
import quantstats as qs
import ta
import yfinance as yf

# Linear Regression Model
from sklearn.linear_model import LinearRegression

# Enabling Plotly offline
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

# Datetime and hiding warnings 
import datetime as dt
from datetime import date
import warnings
warnings.filterwarnings("ignore")

## Statistical Measures and Analysis Techniques

---

### 1. Daily Returns

Our initial focus will be on analyzing the daily returns of a stock. The daily return is the percentage change in the price of a stock over a single day. The calculation involves subtracting the closing price of a stock on a particular day from its closing price on the previous day, dividing the result by the closing price on the previous day and then multiplying by 100. This calculation helps us understand how a stock's value changes on a day-to-day basis.

Let's say a stock closes at Rs. 100 on Monday and on Tuesday it closes at Rs. 102, its daily return can be calculated as:

`((102-100)÷100)×100 = 2%`

This means that the stock's value has **`increased by 2%`** in just one day. On the other hand, if the stock had closed at Rs. 98 on Tuesday, the daily return would be calculated as:

`((98-100)÷100)×100= -2%`

This indicates that the stock's value has **`decreased by 2%`** over the course of one day.

Daily returns play a crucial role for investors as they offer a convenient means to evaluate a stock's performance over a brief period. And Quantstats facilitates the generation of daily returns charts which depict the daily percentage shifts in stocks in a graphical format enabling investors to observe the stock's daily performance highs and lows over time. These charts aid in the interpretation of the stock's return volatility and consistency providing investors with valuable insights into its behaviour.

In [2]:
# Defining time range for analysis

end_date = date.today()
start_date = date(2008,1,1)
print(f"Time range for Analysis : {start_date} to {end_date}")

Time range for Analysis : 2008-01-01 to 2023-04-01

In [3]:
# Downloading daily data for NIFTY50 and four different stocks

nifty50 = yf.Ticker("^NSEI").history(start=start_date, end= end_date)

In [4]:
nifty50

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-01 00:00:00+05:30,6136.750000,6165.350098,6109.850098,6144.350098,0,0.0,0.0
2008-01-02 00:00:00+05:30,6144.700195,6197.000000,6060.850098,6179.399902,0,0.0,0.0
2008-01-03 00:00:00+05:30,6184.250000,6230.149902,6126.399902,6178.549805,0,0.0,0.0
2008-01-04 00:00:00+05:30,6179.100098,6300.049805,6179.100098,6274.299805,0,0.0,0.0
2008-01-07 00:00:00+05:30,6271.000000,6289.799805,6193.350098,6279.100098,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-24 00:00:00+05:30,17076.199219,17109.449219,16917.349609,16945.050781,228000,0.0,0.0
2023-03-27 00:00:00+05:30,16984.300781,17091.000000,16918.550781,16985.699219,218400,0.0,0.0
2023-03-28 00:00:00+05:30,17031.750000,17061.750000,16913.750000,16951.699219,238800,0.0,0.0
2023-03-29 00:00:00+05:30,16977.300781,17126.150391,16940.599609,17080.699219,345900,0.0,0.0
2023-03-31 00:00:00+05:30,17210.349609,17381.599609,17204.650391,17359.750000,263900,0.0,0.0

In [5]:
tata_motors = yf.Ticker("TATAMOTORS.NS").history(start=start_date, end= end_date)

In [6]:
tata_motors

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-01 00:00:00+05:30,127.441980,131.649967,126.583200,130.937180,6914777,0.0,0.0
2008-01-02 00:00:00+05:30,131.710070,136.888475,129.331269,136.295929,10611582,0.0,0.0
2008-01-03 00:00:00+05:30,137.403721,140.151806,133.977217,135.960983,10581493,0.0,0.0
2008-01-04 00:00:00+05:30,137.403756,141.543048,132.448641,134.252060,9271718,0.0,0.0
2008-01-07 00:00:00+05:30,134.483921,138.743439,131.048828,134.896133,7606509,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-24 00:00:00+05:30,419.000000,420.549988,414.799988,416.500000,6877960,0.0,0.0
2023-03-27 00:00:00+05:30,416.000000,418.500000,410.250000,412.049988,7433933,0.0,0.0
2023-03-28 00:00:00+05:30,414.149994,414.500000,400.450012,401.600006,9553659,0.0,0.0
2023-03-29 00:00:00+05:30,401.600006,410.600006,401.600006,409.200012,10478506,0.0,0.0
2023-03-31 00:00:00+05:30,411.350006,421.750000,411.000000,420.799988,11037881,0.0,0.0

In [7]:
havells = yf.Ticker("HAVELLS.NS").history(start=start_date, end= end_date)

In [8]:
havells

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-01 00:00:00+05:30,61.073271,61.749070,60.098559,60.475452,1177450,0.0,0.0
2008-01-02 00:00:00+05:30,60.640062,61.168573,59.353442,60.345486,1454130,0.0,0.0
2008-01-03 00:00:00+05:30,59.782305,61.558449,59.613355,60.813335,1477600,0.0,0.0
2008-01-04 00:00:00+05:30,61.905015,62.294904,59.609033,60.341145,1320740,0.0,0.0
2008-01-07 00:00:00+05:30,60.302151,61.601766,59.349101,60.297821,778180,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-24 00:00:00+05:30,1191.400024,1197.650024,1174.000000,1181.449951,253493,0.0,0.0
2023-03-27 00:00:00+05:30,1181.050049,1189.349976,1162.300049,1167.900024,269418,0.0,0.0
2023-03-28 00:00:00+05:30,1170.000000,1172.449951,1131.800049,1144.000000,943699,0.0,0.0
2023-03-29 00:00:00+05:30,1138.000000,1183.550049,1136.050049,1179.599976,607826,0.0,0.0
2023-03-31 00:00:00+05:30,1185.599976,1194.400024,1177.800049,1188.500000,492712,0.0,0.0

In [9]:
itc = yf.Ticker("ITC.NS").history(start=start_date, end= end_date)

In [10]:
itc

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-01 00:00:00+05:30,49.287693,51.345225,48.845965,50.589634,34574097,0.0,0.0
2008-01-02 00:00:00+05:30,51.124349,52.868017,49.822409,51.403332,54451458,0.0,0.0
2008-01-03 00:00:00+05:30,51.147607,51.380093,49.299318,49.857288,43376439,0.0,0.0
2008-01-04 00:00:00+05:30,49.985156,51.194102,49.555055,50.996487,35674392,0.0,0.0
2008-01-07 00:00:00+05:30,49.217948,54.634947,49.217948,53.774734,50391894,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-24 00:00:00+05:30,381.500000,383.000000,378.000000,378.700012,9934501,0.0,0.0
2023-03-27 00:00:00+05:30,377.950012,384.399994,376.350006,380.200012,10816352,0.0,0.0
2023-03-28 00:00:00+05:30,380.200012,382.350006,378.149994,379.750000,9170535,0.0,0.0
2023-03-29 00:00:00+05:30,380.200012,384.000000,377.149994,382.750000,10160322,0.0,0.0
2023-03-31 00:00:00+05:30,382.000000,384.500000,380.000000,383.500000,9511189,0.0,0.0

In [11]:
infosys = yf.Ticker("INFY.NS").history(start=start_date, end= end_date)

In [12]:
infosys

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-01 00:00:00+05:30,161.224618,162.319770,159.002374,159.422180,2001624,0.0,0.0
2008-01-02 00:00:00+05:30,159.709646,160.562950,156.278173,159.554504,6155056,0.0,0.0
2008-01-03 00:00:00+05:30,163.999021,163.999021,154.233915,155.972473,12425960,0.0,0.0
2008-01-04 00:00:00+05:30,159.472381,159.472381,153.321275,154.681091,6166320,0.0,0.0
2008-01-07 00:00:00+05:30,152.408661,154.233914,148.119315,149.383301,13254200,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-24 00:00:00+05:30,1388.000000,1398.949951,1377.500000,1380.650024,7559127,0.0,0.0
2023-03-27 00:00:00+05:30,1386.250000,1395.750000,1374.099976,1388.949951,4170193,0.0,0.0
2023-03-28 00:00:00+05:30,1392.099976,1398.000000,1375.849976,1377.599976,6633366,0.0,0.0
2023-03-29 00:00:00+05:30,1379.000000,1389.900024,1364.550049,1383.550049,8813966,0.0,0.0
2023-03-31 00:00:00+05:30,1404.000000,1429.949951,1393.900024,1427.949951,8711975,0.0,0.0

In [13]:
# exporting data to.csv

In [14]:
nifty50.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/nifty50.csv')
tata_motors.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/tata_motors.csv')
havells.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/havells.csv')
itc.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/itc.csv')
infosys.to_csv('C:/Users/manis/OneDrive/Desktop/FinMkt/infosys.csv')

In [ ]:
# Data Eyeballing

In [ ]:
import yfinance as yf

# Downloading daily returns for Nifty 50
nifty50 = yf.Ticker("^NSEI").history(start="2010-07-01", end="2023-02-10")
nifty50_returns = nifty50['Close'].pct_change()

In [6]:
# Getting daily returns for 4 different US stocks in the same time window
aapl = qs.utils.download_returns('AAPL')
aapl = aapl.loc['2010-07-01':'2023-02-10']

tsla = qs.utils.download_returns('TSLA')
tsla = tsla.loc['2010-07-01':'2023-02-10']

dis = qs.utils.download_returns('DIS')
dis = dis.loc['2010-07-01':'2023-02-10']

amd = qs.utils.download_returns('AMD')
amd = amd.loc['2010-07-01':'2023-02-10']

In [7]:
aapl

Date
2010-07-01 00:00:00-04:00   -0.012126
2010-07-02 00:00:00-04:00   -0.006198
2010-07-06 00:00:00-04:00    0.006844
2010-07-07 00:00:00-04:00    0.040381
2010-07-08 00:00:00-04:00   -0.002242
                               ...
2023-02-06 00:00:00-05:00   -0.017929
2023-02-07 00:00:00-05:00    0.019245
2023-02-08 00:00:00-05:00   -0.017653
2023-02-09 00:00:00-05:00   -0.006912
2023-02-10 00:00:00-05:00    0.002456
Name: Close, Length: 3176, dtype: float64

In [2]:
import yfinance as yf

# Downloading daily returns for Tata Motors
tata_motors = yf.Ticker("TATAMOTORS.NS").history(start="2010-07-01", end="2023-02-10")
tata_motors_returns = tata_motors['Close'].pct_change()

# Downloading daily returns for Havells
havells = yf.Ticker("HAVELLS.NS").history(start="2010-07-01", end="2023-02-10")
havells_returns = havells['Close'].pct_change()

# Downloading daily returns for ITC
itc = yf.Ticker("ITC.NS").history(start="2010-07-01", end="2023-02-10")
itc_returns = itc['Close'].pct_change()

# Downloading daily returns for Infosys
infosys = yf.Ticker("INFY.NS").history(start="2010-07-01", end="2023-02-10")
infosys_returns = infosys['Close'].pct_change()

In [4]:
tata_motors_returns

Date
2010-07-01 00:00:00+05:30         NaN
2010-07-02 00:00:00+05:30    0.004785
2010-07-05 00:00:00+05:30   -0.004175
2010-07-06 00:00:00+05:30    0.006158
2010-07-07 00:00:00+05:30   -0.022073
                               ...
2023-02-03 00:00:00+05:30    0.001461
2023-02-06 00:00:00+05:30   -0.007745
2023-02-07 00:00:00+05:30   -0.014819
2023-02-08 00:00:00+05:30    0.010679
2023-02-09 00:00:00+05:30   -0.007612
Name: Close, Length: 3115, dtype: float64

In [13]:
tata_motors

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-07-01 00:00:00+05:30,144.125978,144.552172,141.040739,141.337219,12274979,0.0,0.0
2010-07-02 00:00:00+05:30,142.680641,143.764652,141.383540,142.013565,12038767,0.0,0.0
2010-07-05 00:00:00+05:30,141.744865,144.487299,140.660868,141.420593,16098868,0.0,0.0
2010-07-06 00:00:00+05:30,141.744854,143.014162,141.012921,142.291489,14020533,0.0,0.0
2010-07-07 00:00:00+05:30,142.032103,142.662114,138.678177,139.150696,12754144,0.0,0.0
...,...,...,...,...,...,...,...
2023-02-03 00:00:00+05:30,447.000000,450.799988,442.350006,445.450012,13067403,0.0,0.0
2023-02-06 00:00:00+05:30,444.450012,447.000000,439.549988,442.000000,6795084,0.0,0.0
2023-02-07 00:00:00+05:30,441.700012,443.399994,432.899994,435.450012,9023645,0.0,0.0
2023-02-08 00:00:00+05:30,435.450012,441.000000,431.549988,440.100006,8668267,0.0,0.0
2023-02-09 00:00:00+05:30,440.000000,440.700012,433.549988,436.750000,7349418,0.0,0.0